{block breadcrumbThis}
<li>
    <span class="fa fa-angle-right"></span>
    <a n:href="Service:">{_"Service"}</a>
</li>
{/block}

{block content}
<div class="pageContent">
	<ul class="list-group">
		<li class="list-group-item">
			<a n:href="actualizeCvs!">{_'Actualize CVs'}</a>
		</li>
	</ul>
	
</div>
