{layout none}
<div id="innerPage" class="inner getInTouch">
    <h2>{_"Get In Touch"}</h2>
<p>{_"Whether you're after some help or just want to say hello, we would love to hear from you!"}</p>
<p>{_"Send us a message and we'll get back to you quickly."}</p>
    {control getInTouch}
</div>