{layout none}
<div id="innerPage" class="inner jobApply">
    <p>
        Dear {$cv->getFullName()},
    </p></br></br>
    <p>
        Thank you for applying for this {$job->name} position with {$job->company}. Your profile has now been linked to {$job->company}. They will contact you directly if they would like to include you in the recruitment process for this position.
    </p></br></br>
    <p>
        Best regards,</br>
        Source-Code
    </p>
</div>