{block content}
<div class="pageContent">
    <div class="row">
        <div style="width: 724px">
            <div class="portlet chat chat-thread">
                <div class="portlet-title">
                    <div class="caption">Notes for candidate {$candidate->fullName} and job {$job->name}</div>
                </div>
                {control notes}
            </div>
        </div>
    </div>
</div>