<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{$mail->subject}</title>
        <style>
            body {
                font-family: Verdana,Tahoma,Arial,Helvetica,Chicago,Sans-serif;
                font-size: 15px;
            }
        </style>
    </head>
    <body>
        <div text="#000000" bgcolor="#ECECEC" style="font-family:Verdana,Tahoma,Arial,Helvetica,Chicago,Sans-serif;font-size:15px;margin:0px;padding:0px;background:#ececec">
            <table width="100%" border="0" cellspacing="0" cellpadding="20" bgcolor="#ECECEC">
                <tbody>
                    <tr>
                        <td>
                            <table width="800" border="0" cellspacing="0" cellpadding="24" align="center" bgcolor="white">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left">
                                                            <a href="http://http://pilotincommand.com/" target="_blank">
                                                                <img src="http://http://pilotincommand.com/images/logo/logo3.png" alt="pilotincommand.com" />
                                                            </a>
                                                        </td>
                                                        <td align="right" style="font-size:17px;">
                                                            <font color="#B6CF6C"><b>{$mail->subject}</b></font>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
                                            <br>
                                            <br>
                                            
                                            {ifset #content}{include #content}{/ifset}
                                            
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            
                                            {include 'emailFooter.latte'}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>