{snippet}
	{form createAccountForm class => 'form-widget frm-gt20', data-formtype => 'newsletter'}
		<ul class=error n:if="$form->errors" style="margin-left: 20px; margin-bottom: 10px;">
			<li n:foreach="$form->errors as $error">{$error}</li>
		</ul>

		{input mail, class => 'form-control lg'}

		{input password, class => 'form-control lg'}

		{input password2, class => 'form-control lg'}

		{input $form['send'], class => 'btn btn-lg btn-primary'}

	{/form}
{/snippet}