{block breadcrumbThis}
<li>
    <span class="fa fa-angle-right"></span>
    <a n:href="this">Dashboard</a>
</li>
{/block}

{block #content}
<div class="pageContent">
    <div class="well">
        <h4>{_"Welcome in administration"}</h4>
        {_"Please select some section from menu..."}
    </div>
</div>