{block content}
{includeblock 'editProfileBlocks.latte'}
<div class="container" id="editProfile">
	<div class="content cleaner">
        {include #navigator}

        <div class="box inputs">
            <div class="contain">
                <div class="section">
                    <h2>{_'Address'}</h2>
					{control address}
				</div>
            </div>
        </div>
    </div>
</div>
{/block}