{define #restContent}
<div class="restContent requiredInfo">
    <h1>{_"Just one step to be visible for airline companies!"}</h1>
    {control popup}
	<div id="existingPhoto">
		<img src="{$basePath}/foto/100-100/cvImages/{if $cv->photo}{$cv->photo}{else}default.png{/if}?" alt="{$cv->name}" />
	</div>
</div>
{/define}