{block breadcrumbThis}
<li>
    <span class="fa fa-angle-right"></span>
    <a n:href="Company:">{_"Companies"}</a>
</li>
{/block}

{block breadcrumbActions}
<a n:href="add">
    <button class="btn green">{_"Add item"} <i class="fa fa-plus"></i></button>
</a>
{/block}

{block content}
<div class="pageContent">
    {control companyUsersGrid}
</div>
