{block content}

<div id="module" class="container sign">
    
    <h2>{_"Registration"}</h2>
    
    <div class="message">
        {_"Register your new account by inserting data"}
    </div>

    <div class="form">
        {control createAccountForm}
    </div>
</div>
