{block content}

<div id="module" class="container sign">
    
    <h2>{_"Candidate Login"}</h2>
    
    <div>&nbsp;</div>
    <div>You need to sign in or sign up before continuing.</div>

    <div class="form">
        {control signInForm-signInForm}
    </div>
    <div><a n:href="Sign:LostPass">Lost password?</a></div>
</div>
