{block content}

<div id="module" class="container sign">
    
    <h2>{_"Insert Your Mail"}</h2>
    
    <div class="message">
        {_"We need your e-mail for complete your registration."}
    </div>

    <div class="form">
        {control insertMailForm}
    </div>
</div>
