{block content}

<div id="module" class="container sign">
    
    <h2>{_"Lost Password"}</h2>
    
    <div class="message">
        {_"Have you lost your password?"} {_"If so, insert your email address below and we will generate a new one for you."}
    </div>

    <div class="form">
        {control lostPassForm}
    </div>
</div>
